.env
.htpasswd
*.crt
*.key
*.csr
*.tar
*.log*
*.dump
deployment/configs/nginx/nginx.conf
deployment/configs/fail2ban/jail.local
deployment/configs/iptables/iptables.sh
deployment/data/mariadb/data/
src/*
!.gitkeep